.blokje{
    width: 100px;
    height: 100px;
    background: red;
	margin: 200px;
}

.animation-parent{
    width: 600px;
    height: 300px;
}


.wiel {
	
}

.wiel1 {
	
}

.wiel2 {
	
}

.geheel {
    
	
}

#achtergrond {
    padding-top:120px;
	height:300px;
	
    
}

@keyframes oef2-rijden {
	
}

@keyframes oef2-draaien{
    
}

