/*basis*/
.blokje {
    width: 100px;
    height: 100px;
    background: red;
    margin: 200px;
}

.animation-parent {
    width: 600px;
    height: 300px;
}

/*transitions & transformations*/
.transition{}

.translate{}

.rotate{}

.scale{}

.skew{}

.rotateX{}

/*oefeningen transitions & transformations*/
.oefening1 {}

.oefening1:hover {}

.oefening2 {}

.oefening2:hover {}

.oefening3{
    border: 5px solid red;
    border-radius: 5px;
}

.oefening3:hover{
}

/*animations*/
.vb1-animatie

@keyframes vb1{}

/*oefening animations*/
.oef-animation-1{}

@keyframes oef1{}

/*extra oefeningen*/
.wiel {}

.wiel1 {}

.wiel2 {}

.geheel {}

#achtergrond {
    padding-top: 120px;
    height: 300px;


}

@keyframes oef2-rijden {}

@keyframes oef2-draaien {}
