/*Smijne css, afblijve!*/
/*-----*/
/*kleur van de headers*/
.header{
    color: #f04c25
}

/*Kaartjes lololololol*/
.foto{
    transition: 5s !important;
}

.foto:hover{
    transform: rotate(50deg) rotateY(70deg) scale(2, 3)!important;
}

/*Voorbeeld*/
.twee, .drie{
    transition: 2s;
}

.twee:hover{
    transform: rotate(180deg);
}

.drie:hover{
    transform: rotateY(180deg);
}

/*Van alle voorbeeld divs een blauwe blok maken*/
 .blokje{
    width: 100px;
    height: 100px;
    background: #009cab
}

/*Voorbeelden transitions*/
.transition1{
    transition: width 2s !important;
}

.transition1:hover{
    width: 500px !important;
}

.transition2{
    transition: width 2s, height 5s !important;
}

.transition2:hover{
    width: 500px !important;
    height: 300px !important;
}

/*Voorbeelden 2D Transformations*/
.translate{
    transition: 2s !important;
}

.translate:hover{
    transform: translate(50px, 100px) !important;
}

.rotate{
    transition: 2s !important;
}

.rotate:hover{
    transform: rotate(50deg) !important;
}

.scale{
    transition: 2s !important;
}

.scale:hover{
    transform: scale(3, 6) !important;
}

.skew{
    transition: 2s !important;
}

.skew:hover{
    transform: skew(50deg, 30deg) !important;
}

/*Voorbeelden 3D Transformations*/
.rotateX{
    transition: 2s !important;
}

.rotateX:hover{
    transform: rotateX(150deg) !important;
}

/*Voorbeelden animaties*/
.vb-animatie-bgc{
    animation: animatie-bgc 5s infinite;
}

@keyframes animatie-bgc{
    0%{background-color: #546e7a;}
    25%{background-color: yellow;}
    50%{background-color: hotpink;}
    75%{background-color: greenyellow;}
    100%{background-color: #546e7a;}
}

.vb-animatie-rot:hover{
    animation: animatie-rot 4s infinite
}


@keyframes animatie-rot{
    0%{transform: rotate(0deg)}
    25%{transform: rotate(90deg)}
    50%{transform: rotate(180deg)}
    75%{transform: rotate(270deg)}
    100%{transform: rotate(360deg)}
}

.vb1-parent{
    height: 200px;
}

.vb1-animatie{
    animation: vb1 3s infinite;
}

@keyframes vb1{
    0%{transform: translateX(0);}
    50%{transform: translateX(300px);}
    100%{transform: translateX(0);}
}

.oef-animation-1-parent{
    height: 300px;
}

.oef-animation-1{
    animation: oef1 3s infinite;  
}

@keyframes oef1{
    0%{transform: none;}
    25%{
        transform: translate(600px, 100px) rotate(45deg);
        
    }
    50%{
        transform: translate(600px, 0px) rotate(90deg);
        
    }
    75%{
        transform: translate(0px, 100px) rotate(135deg);
        
    }
    100%{
        transform: translate(0, 0) rotate(180deg);
        
    }
}

.wiel {
	animation-name: oef2-draaien;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wiel1 {
	position: relative;
	left: -230px;
	top: 20px;
}

.wiel2 {
	position: relative;
	left: -150px;
	top: 20px;
}

.geheel {
    position: relative;
    bottom: 0px;
	animation-name: oef2-rijden;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#achtergrond {
    padding-top:120px;
	height:300px;
	background-image:url(images/achtergrond.jpg);
	background-repeat:repeat-x;
}

@keyframes oef2-rijden {
	0% {
		transform: translate(0px, 0px);
	}
	
	100% {
		transform: translate(1000px, 0px);
	}
}

@keyframes oef2-draaien {
	to {
		transform: rotate(360deg);
	}
}