/*Smijne css, afblijve!*/

/*-----*/

/*kleur van de headers*/

.header {
    color: #f04c25
}

/*Kaartjes lololololol*/

.foto {
    transition: 5s;
}

.foto:hover {
    transform: rotate(50deg) rotateY(70deg) scale(2, 3);
}

/*Voorbeeld*/

.twee,
.drie {
    transition: 2s;
}

.twee:hover {
    transform: rotate(180deg);
}

.drie:hover {
    transform: rotateY(180deg);
}

/*Van alle voorbeeld divs een blauwe blok maken*/

.blokje {
    width: 100px;
    height: 100px;
    background: #009cab
}

/*Voorbeelden transitions*/

.transition1 {
    transition: width 2s;
}

.transition1:hover {
    width: 500px;
}

.transition2 {
    transition: width 2s, height 5s;
}

.transition2:hover {
    width: 500px;
    height: 300px;
}

/*Voorbeelden 2D Transformations*/

.translate {
    transition: 2s;
}

.translate:hover {
    transform: translate(50px, 100px);
}

.rotate {
    transition: 2s;
}

.rotate:hover {
    transform: rotate(50deg);
}

.scale {
    transition: 2s;
}

.scale:hover {
    transform: scale(3, 6);
}

.skew {
    transition: 2s;
}

.skew:hover {
    transform: skew(50deg, 30deg);
}

/*Voorbeelden 3D Transformations*/

.rotateX {
    transition: 2s;
}

.rotateX:hover {
    transform: rotateX(150deg);
}

/*Oefeningen transformations en transitions*/
.oefening1 {
    transition: 2s, width 2s, height 1s;
}

.oefening1:hover {
    transform: rotate(360deg);
    width: 200px;
    height: 100px;
}

.oefening2 {
    transition: 2s;
}

.oefening2:hover {
    transform: scale(5, 3) skew(20deg, -20deg) translate(50px, 50px);

}

.oefening3{
    border: 5px solid #009cab;
    border-radius: 5px;
    transition: 2s;
}

.oefening3:hover{
    border-radius: 200px;
    opacity: 0.5;
    transform: rotateY(180deg) scale(2.5);
}

/*Voorbeelden animaties*/

.vb-animatie-bgc {
    animation: animatie-bgc 5s infinite;
}

@keyframes animatie-bgc {
    0% {
        background-color: #546e7a;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: hotpink;
    }
    75% {
        background-color: greenyellow;
    }
    100% {
        background-color: #546e7a;
    }
}

.vb-animatie-rot:hover {
    animation: animatie-rot 4s infinite
}


@keyframes animatie-rot {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(90deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.vb1-parent {
    height: 200px;
}

.vb1-animatie {
    animation: vb1 3s infinite;
}

@keyframes vb1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}

.oef-animation-1-parent {
    height: 300px;
}

.oef-animation-1 {
    animation: oef1 3s infinite;
}

@keyframes oef1 {
    0% {
        transform: none;
    }
    25% {
        transform: translate(600px, 100px) rotate(45deg);

    }
    50% {
        transform: translate(600px, 0px) rotate(90deg);

    }
    75% {
        transform: translate(0px, 100px) rotate(135deg);

    }
    100% {
        transform: translate(0, 0) rotate(180deg);

    }
}

.wiel {
    animation-name: oef2-draaien;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wiel1 {
    position: relative;
    bottom: 35px;
    left: 30px;
}

.wiel2 {
    position: relative;
    bottom: 35px;
    left: 105px;
}

.geheel {
    position: relative;
    bottom: 0px;
    animation-name: oef2-rijden;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 263px;
}

#achtergrond {
    padding-top: 120px;
    height: 300px;
    background-image: url(images/achtergrond.jpg);
    background-repeat: repeat-x;
}

@keyframes oef2-rijden {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(800px, 0px);
    }
}

@keyframes oef2-rijden-uitbreiding {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(800px, -20px) rotate(-20deg);
    }
}

@keyframes oef2-draaien {
    to {
        transform: rotate(360deg);
    }
}
